.MintNFT_box_input_para {
  padding: 0 1rem;
}

.MintNFT_box_slider_div {
  display: flex;
  gap: 1rem;
}

.MintNFT_box_slider {
  border: 1px solid var(--icons-color);
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  width: 9rem;
  height: 9rem;
  width: 18vw;
}
.MintNFT_box_slider:hover {
  background-color: #919bb5;
}

.MintNFT_box_slider_box {
  display: flex;
  justify-content: space-between;
}

.MintNFT_box_slider_box_img_img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.MintNFT_box_slider_box_img_icon {
  background-color: var(--icons-color);
  color: var(--main-bg-color);
  border-radius: 50%;
  display: grid;
  padding: 0.2rem;
  width: 20px;
  height: 20px;
}

.MintNFT_box_slider p {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2;
}

.MintNFT_box_btn {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-block: 4rem;
  gap: 2rem;
}

.MintNFT_box_btn_style {
  width: 100%;
  display: grid;
  align-self: center;
  font-size: 1.3rem;
}

.active {
  background-color: var(--icons-color);
  color: var(--main-bg-color);
}
.active:hover {
  background-color: var(--icons-color);
}

@media (min-width: 425px) and (max-width: 768px) {
  .MintNFT_box_slider_div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .MintNFT_box_slider {
    width: 25vw;
  }
}
@media (max-width: 425.1px) {
  .MintNFT_box_slider_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .MintNFT_box_slider {
    width: 35vw;
  }
}
