.footer {
  width: 100%;
  padding-block: 1.5rem;
  position: relative;
  /* background-color: rgb(255, 127, 80); */
}

.Footer_box {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.3fr repeat(2, 1fr) 2fr;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}

/* //SOCIAL */
.Footer_social {
  display: flex;
  gap: 1.3rem;
  font-size: 1.5rem;
  align-items: center;
}

.Footer_social a {
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.3s ease-in;
  display: grid;
}

.Footer_social a:hover {
  background-color: var(--icons-color);
  color: var(--shadow-dark-color);
  box-shadow: var(--box-shadow);
}

.subscribe {
  margin: 0;
}

.subscribe_box {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: var(--icons-color);
  color: var(--shadow-dark-color);
  border-radius: 5rem;
  margin-top: 3rem;
}

.subscribe_box input {
  background: transparent;
  border: none;
  outline: none;
  width: 90%;
  color: var(--shadow-dark-color);
}

.logoImage {
  background-color: white;
  margin-top: 0.5rem;
  border-radius: 5rem;
}

.subscribe_box input::placeholder {
  color: var(--shadow-dark-color);
}

.subscribe_box_send {
  cursor: pointer;
  font-size: 2rem;
}

.subscribe_box_info {
  padding: 1rem 0rem;
}

.dark {
  color: var(--icons-color);
}

/* //MEDIA QUERY */
@media (min-width: 740px) and (max-width: 1023px) {
  .Footer_box {
    width: 90%;
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 739.9px) {
  .Footer_box {
    width: 75%;
    grid-template-columns: 1fr;
  }
  .subscribe_box {
    width: 80%;
  }
}
